<!DOCTYPE html>
<html>
<body>

  Back to
  <a href="/profile"> My Profile<a> <br>

<h1>Send Feedback:</h1>

<form method = "POST" action="">
   Feedback here:
   <input type="text" name="feedback"><br>
   <input type="submit" value="Submit">
</form>

</body>
</html>
