<!DOCTYPE html>
<html>
<body>

<h1>Do You Have a Cold?</h1>


<form action="/login" method="post">
  <fieldset>
    <legend>Login</legend>
      <div>
        <label>Enter Username:</label>
        <input type="text" name="username" />
        <br/>
      </div>
      <div>
        <label>Enter Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
    </fieldset>
    </form>

New?
<a href="/register">Register</a><br>
<a href="/">Home Page</a>


</body>
</html>
