<!DOCTYPE html>
<html>
<body>


<h1> Congratulations! You are probably not sick!</h1>

But be careful. Having symptoms is a sign that you are close to getting sick. <br>
Drink plenty of water and get lots of sleep!


</body>
</html>
