<!DOCTYPE html>
<html>
<body>

  Back to
  <a href="/profile"> My Profile<a> <br> <br>

Thank you. Your recommendation "{{theRecommendation}}" has been saved.
We will consider adding it as a symptom choice in the future.<br> <br>

Check out what your fellows users are recommending <a href="/allRecs">here</a>!

</body>
</html>
