<!DOCTYPE html>
<html>
<body>

<h1>Do You Have a Cold?</h1>

<form action="/register" method="post">
  <fieldset>
    <legend>Register</legend>
      <div>
        <label>Choose Username:</label>
        <input type="text" name="username" />
        <br/>
      </div>
      <div>
        <label>Choose Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Register" />
      </div>
    </fieldset>
    </form>

Already registered?
<a href = "http://localhost:3000/login">Login</a><br>
<a href = "http://localhost:3000/">Home Page</a>

</body>
</html>
