<!DOCTYPE html>
<html>
<body>
Back to
<a href = "http://localhost:3000/profile"> My Profile<a> <br> <br>

<h1>Unfortunately, you are probably sick.</h1> <br> 

Here are some tips for getting better! <br> <br>

    Stay hydrated. Water, juice, clear broth or warm lemon water with honey helps loosen congestion and prevents dehydration. Avoid alcohol, coffee and caffeinated sodas, which can make dehydration worse.
    Rest. Your body needs to heal.
<br> <br>
    Soothe a sore throat. A saltwater gargle — 1/4 to 1/2 teaspoon salt dissolved in an 8-ounce glass of warm water — can temporarily relieve a sore or scratchy throat. Children younger than 6 years are unlikely to be able to gargle properly.
<br> <br>
    You can also try ice chips, sore throat sprays, lozenges or hard candy. Don't give lozenges or hard candy to children younger than 3 to 4 years old because they can choke on them.<br> <br>
    Combat stuffiness. Over-the-counter saline nasal drops and sprays can help relieve stuffiness and congestion. In infants, experts recommend putting several saline drops into one nostril, then gently suctioning that nostril with a bulb syringe. To do this, squeeze the bulb, gently place the syringe tip in the nostril about 1/4 to 1/2 inch (about 6 to 12 millimeters) and slowly release the bulb. Saline nasal sprays may be used in older children.
<br> <br>
    Relieve pain. For children 6 months or younger, give only acetaminophen. For children older than 6 months, give either acetaminophen or ibuprofen. Ask your child's doctor for the correct dose for your child's age and weight. Adults can take acetaminophen (Tylenol, others), ibuprofen (Advil, Motrin IB, others) or aspirin.
<br> <br>
    Use caution when giving aspirin to children or teenagers. Though aspirin is approved for use in children older than age 3, children and teenagers recovering from chickenpox or flu-like symptoms should never take aspirin. This is because aspirin has been linked to Reye's syndrome, a rare but potentially life-threatening condition, in such children.<br> <br>
    Sip warm liquids. A cold remedy used in many cultures, taking in warm liquids, such as chicken soup, tea, or warm apple juice, might be soothing and might ease congestion by increasing mucus flow. <br> <br>
    Add moisture to the air. A cool mist vaporizer or humidifier can add moisture to your home, which might help loosen congestion. Change the water daily, and clean the unit according to the manufacturer's instructions. Don't use steam, which hasn't been shown to help and may cause burns.<br> <br>

    Try over-the-counter (OTC) cold and cough medications. For adults and children older than 5, OTC decongestants, antihistamines and pain relievers might offer some symptom relief. However, they won't prevent a cold or shorten its duration, and most have some side effects.
<br> <br>
    Experts agree that these shouldn't be given to younger children. Overuse and misuse of these medications can cause serious damage.
<br> <br>
    Take medications only as directed. Some cold remedies contain multiple ingredients, such as a decongestant plus a pain reliever, so read the labels of cold medications you take to make sure you're not taking too much of any medication.
<br> <br>

</body>
</html>
