<!DOCTYPE html>
<html>
<body>
Back to
<a href = "http://localhost:3000/profile"> MyProfile<a>

<h1>YIKES! YOU ARE VERY SICK!</h1>

You definitely are ill and might possibly have something worse than that!<br>
Hurry up and see a doctor!


</body>
</html>
