<!DOCTYPE html>
<html>
<body>

<h1>Welcome to 'Do You Have a Cold?' </h1>

<p>This website will try to determine if you have a cold.</p>

Please
<a href = "http://localhost:3000/login"> Login</a> or
<a href = "http://localhost:3000/register"> Register</a> first.

</body>
</html>
